{{ define "main" }}
<div class="py-10 mx-auto max-w-5xl px-4 sm:px-6 lg:px-8 prose prose-slate lg:prose-lg">
	{{ .Content }}

	<hr />

	<ul class="list-none" style="padding: 0 !important">
		{{- range where .Site.RegularPages ".Params.unlisted" "!=" "true" -}}
			<li>
				<a class="block text-xl no-underline hover:underline" href="{{.Permalink}}">{{.Title}}</a>
				<p class="text-normal">{{.Description}}</p>
				<a class="block text-sm no-underline text-blue-600 text-medium hover:underline" href="{{.Permalink}}">Continue lendo →</a>
			</li>
		{{end}}
	</ul>
</div>
{{ end }}
